/*
Credits to Plurk Layouts for the orginal template
   Edits done by layoutfreak.blogspot.com

                           Credits to 7te.org for the timeline background

                     Please credit LayoutFREAK! if you use this CSS template
*/




/*----------------------- PART 1 OF EDITING PLURK LAYOUT --------------------------*/
/*-------------------- BODY - TIMELINE - LOGO - TIMELINE EXTRAS ---------------------*/

/* Main Body and Background of Body */
body, html {
	background: #06070c url(https://lh3.googleusercontent.com/-6xQRFjuN0DU/T1R-JoEvknI/AAAAAAAADec/18YChDZm_80/s2048/MainBodyandBackgroundBlack2.jpg);
	background-repeat:no-repeat;
}

/* Timeline Holder Background */
#timeline_holder {
	background: #151515 url(https://lh6.googleusercontent.com/-lYVJDLCi8L4/TsJgTWVlveI/AAAAAAAADI0/KnzYJE1X_P0/s2048/DSC_23452.JPG);
	background-repeat: no-repeat;
	border: 0px solid transparent;
}

/* Timeline Holder Plurks */
#timeline_holder table td {
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px;
	color: #000;
}

/* Page Title */
#page_title {
   color: #ffbe70;
}

/* LOGO */
#dynamic_logo{
    position:absolute;
    margin: 3px 0 0 5px;
    width: 168px;
    height: 162px;
	background: transparent;
}

#dynamic_logo img{
    height: 0px;
    width: 0px;
}

/* Time above Plurk Timeline */
#time_show span {
	color: #ffbe70; 
	font-weight: bold;
	margin: -5px;
}

/* Evening, Night, Day, Morning */
.evening, .night, .day, .morning {
	background: transparent url() no-repeat scroll 0 0;
	border: none;
}

/* Today and Time of Plurks */
#bottom_line {

font-size: 11px;
margin-top: -2px;
border-top: 0px solid #b9aeab;
border-bottom: 2px solid #171c20; 
background: #171c20; 
}

.bottom_start , .bottom_end {color:#e1c576 !important;font-weight:bold;font-size:11px ;}

/* Day Separator */
.day_bg .div_inner {
	background: transparent no-repeat scroll center;
	border-left: 0px none;
	border-right: 0px solid #efefef;
	color: transparent !important;
}

.day_start, .day {
	font-weight: normal;
color: #000 !important;   
}

.day_start .bottom_start, .day_start .div_start {
	margin-top: -1px;
	margin-left: 1px;
	color: #fff !important;
	text-align: left;	
}
/* End Day Separator */

/* Today, yesterday, 2 days ago etc text on actual time line area */
.day_start .div_bottom,  .day_start .bottom_start {color: #7b867d !important;}

/*----------------------------- PART 2 OF EDITING PLURK LAYOUT --------------------*/
/*------------------------- DASHBOARD - HEADINGS - KARMA ETC ---------------------*/

/* All Plurks My Plurks*/
#filter_tab { 
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px;
	border: 0 !important;
	margin-top: 1px;
}

#filter_tab a.off_tab { 
	background: transparent;
	color: #c3bf9d; 
	border: 0 !important;

}

#filter_tab a.off_tab:hover { 
	color: #7b867d; 
	border: 0 !important;

}

#filter_tab a.filter_selected {
	border: 0 !important;
	background: #171c20;
	color: #ffbe70; 
	letter-spacing: 1px; 
}

#filter_tab a.filter_selected:hover {

}

/* Plurk Textarea */
#input_big, #input_permalink { 
	background: transparent;
	border-bottom: 1px solid #ffbe70;
	border-top: transparent;
	border-left: transparent;
	border-right: transparent;
	color: #ffbe70 !important;
}

/* Block User Button */
.friend_man.block {
	-moz-border-radius: 4px 4px 4px 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	background: #7b867d;
	color: #e1c576 !important;
}
/* End Block User Button */

/* Replace Big Plurk Button */
img[src="http://static.plurk.com/button/plurk.png"] {  
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}

.submit_img {
	background: transparent url(http://i49.tinypic.com/ws4j0j.jpg) no-repeat scroll top left;
	height: 38px;
	padding-left: 82px;
	width: 0px;
	overflow: hidden;
	margin-top: -40px;
}
/* End Replace Big Plurk Button */


/* Share Plurk Button */
#sharePlurk {
	/*background: transparent url(http://s.plurklayouts.com/images/layouts/shareplurk.png) no-repeat scroll top left;*/
	border-style: none none none none;
	border-width: 0px 0px 0px 0px;
	height: 66px;
}

#sharePlurk div {
	border-style: none none none none;
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px;
}

#sharePlurk span {
	background: transparent none no-repeat scroll left bottom;
	padding: 1px 0px 1px 9px;
}
#sharePlurk #invite_url {
    margin-left: 1px !important;
    margin-top: 0px !important;
}

#sharePlurk p {
    margin: 4px 13px 0;
}

.cmp_wj {
    height: 21px;
}
/* End Share Plurk Button */

#widget-gfx {
	/*background: transparent url(http://s.plurklayouts.com/images/layouts/widget.png) no-repeat scroll 0 0 !important;*/
	height: 33px;
	margin-left: auto;
	margin-right: auto;
	padding: 9px 1px 0px 40px;
	overflow: hidden;
	color: transparent !important;
}
#mobile-gfx {
	/*background: transparent url(http://s.plurklayouts.com/images/layouts/mobile.png) no-repeat scroll 0 0 !important;*/
	height: 33px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	color: transparent !important;
}

#twitter-gfx {
	/*background: transparent url(http://s.plurklayouts.com/images/layouts/twitter.png) no-repeat scroll 0 0 !important;*/
	height: 45px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	color: transparent !important;
}

#dashboard-invite {
    /*background: transparent url(http://s.plurklayouts.com/images/layouts/plurk_extras/invite-friends.png) no-repeat scroll 0 8px;*/
    height: 63px;
    overflow: hidden;
    color: transparent !important;
    margin-left: auto;
    margin-right: auto;
    border: 0px none #000;
}

#dashboard-invite:hover {
    /*background: transparent url(http://s.plurklayouts.com/images/layouts/plurk_extras/invite-friends.png) no-repeat scroll 0 -58px;*/
    height: 63px;
    overflow: hidden;
    color: transparent !important;
}
.cmp_invite, .cmp_widget-gfx, .cmp_twitter-gfx, .cmp_mobile-gfx {
	background: transparent none no-repeat scroll 0 0;
	height: 0px;
	width: 0px;
}

/*Dashboard Background and Info*/
.segment-content  {
	background:transparent;
	color: #cdcdcd;
    padding: 2px;
	margin: 1px;
}

#dashboard_holder a {
	/*background:;*/
}

#dashboard_holder a:hover {
	/*background:;*/
}

/* Dashboard */
#plurk-dashboard {
	background: transparent !important;
	border:0 !important;
}

/*Dashboard link*/
#plurk-dashboard a {
	color: #7b867d;
	text-decoration: underline;
	border: 0;
}

/*Dashboard link hover*/
#plurk-dashboard a:hover {
	color: #ffbe70;
	text-decoration: none;
	border: 0;
}
/*Dashboard Friends Section*/
#show_all_friends { 
	background: #171c20;
	padding-top: 5px;
	padding-bottom: 11px; 
	text-align: center; 
	color: #fff;
	-moz-border-radius: 10px 10px 10px 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
}
/*Dashboard Stats area*/
#dash-stats { 
	background: #171c20;
	border: 0px solid  #fff;
	color: #e1c576;
	padding-top: 5px;
	padding-bottom: 38px; 
	text-align: center;
}

/*Dashboard Friends area*/
#dash-friends { 
	padding-top: 5px;
	padding-bottom: 11px; 
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	background: #171c20;
	border: 0px solid #fff;
	color: #cdcdcd;
}

/*Dashboard Fans*/
#dash-fans { 
	padding-top: 5px;
	padding-bottom: 11px; 
	text-align: center; 
	background: #171c20;
	color: #c3bf9d;
	border:0px solid  #fff;
}

/*Background colour for time and Plurking Textarea*/
#plurk_form {
	margin-top: 40px;
	padding: 10px;      
	background: transparent;
	border: 0px solid #fff;
	color: #cdcdcd;
}

/* New Plurking area */
#pane_plurk {
	border: 0px solid #918e79;
	background: #171c20;
	color: #e1c576 !important;
}
/* Plurk Search and Plurk tab */
#toggle_tab li {
	background: #171c20;
	color: #c3bf9d !important;
}

.plurkaction {
	clear:both;padding:8px;
}

.plurkaction, #toggle_tab li.tt_selected, #plurk-dashboard, #more_options_link {
	border: 0px solid #fff;
	background: #171c20;
}
/* End */

/*Search Feature */
#pane_search .main_poster {
	width: 775px;
	color: #cdcdcd !important;
}

#pane_search .orange-but {
	margin-bottom: 10px;
}
/* End */

/*Saved searches overall text size etc */
.saved_searches {
	font-size: 12px;
	overflow: auto;
	padding: 15px 0 0;
}
/* End */

/* Saved Searches LINKS */
.saved_searches a {
	color: #fff!important;
	text-decoration: underline!important;
}
/* End */

/* Saved Search bold text */
.saved_searches b {
	font-size: 16px;
	color: #b6b6b6 !important;
}
/* End */

/* Delete saved search css *
/.del_search{cursor:pointer;background-color:#FFF;border:1px solid #f0f0f0;margin-left:9px;padding:1px 4px;}
/* End */

.hot_searches a {
	color: #fff !important;
}
.hot_searches a:hover { 
	color: #ffbe70 !important;
}

/* CSS for Search feature search button */
input.orange-but {
	background: #7b867d none repeat scroll 0 0 !important;
	border: 1px solid #7b867d !important;
	color: #fff;
	cursor: pointer;
	font-size: 13px;
	padding: 2px 4px;
	vertical-align: middle;
	width: auto;
}
/* End */

/* Text area for Search Feature */
#current_query {
	background: transparent !important; 
	border-bottom: 1px solid #ffbe70 !important;
	border-right: transparent;
	border-top: transparent;
	border-left: transparent;
	color: #ffbe70 !important;
}
/* END */

/*Daily Photo*/
#snap_photo a {
	color: #c3bf9d;
}

#snap_photo a:hover {
	color: #7b867d;
}

#snap_photo b {
	color: #c3bf9d;
}
/*End*/


/* About Me */
#dash-profile {
	background: #171c20;
	color: #c3bf9d;
	border: 0;
	padding: 10px;
	
}
#span_years {
	color: #ffbe70;
	font-weight: bold; 
}

#location {
	color: #e1c576;
	font-style: italic;
}

#relationship_container {
	background: #171c20;
	color: #c3bf9d;
	border: 0;
	padding: 10px;
}

#full_name {
	font-size: 17px;
	color: #cbcfb8;
}
#about_me {
	background: #171c20;
	border: 0px solid #fff;
	color: #c3bf9d;
	margin: 2px;
	padding: 10px;
	text-align: left;
}

#dash-stats h2, #dash-friends h2, #dash-fans h2 {  
	color: #f0800f;
	font-size: 29px;
	line-height: 125%;
	text-align: left;
	border: 0;
	font-weight: none; 
}

/*Karma Count */
#karma {
	color: #c3bf9d;
	font-size: 28px;
}

.karma_hover { 
	color: #c3bf9d;
}
.karma_arrow {  
	filter:alpha(opacity = 0);
	-moz-opacity: 0;
	opacity: 0;
}

.cmp_karma_up {
	background:transparent url(/static/icons/icons_png.png) 0 -28px no-repeat;
	width: 8px;
	height: 10px;
	margin-top: 10px;
}

/* Follow Friend/Fan Box */
.friend_man.add_follow, .friend_man.remove, .friend_man.add_friend, .friend_man.pending {
    -moz-border-radius: 6px 6px 6px 6px;
    -khtml-border-radius: 6px;
    -webkit-border-radius: 6px;
	background: #7b867d;
	color: #e1c576 !important;
}
/* End Follow Friend/Fan Box */

/*Send Private Plurk Box*/ 
.friend_man.private_plurk { 
	-moz-border-radius: 6px 6px 6px 6px; 
    -khtml-border-radius: 6px; 
    -webkit-border-radius: 6px; 
	background: #7b867d;
	color: #e1c576 !important;
}
/*End Send Private Plurk Box*/

/*Extra*/
.award_bar { 
	height: 50px; 
}

.friend_holder {
	margin-bottom: 4px;
}

.friend_holder table { 
	margin-left: auto;
	margin-right: auto;
}

.friend_holder .user_link{
    height: 25px !important;
    width: 25px !important; 
}
    
.friend_holder img{
    width: 25px;
    height: 25px; 
}

/*Your name by Plurk box - not in timeline */
.qual_holder{ 
	color : #7b867d;
}
.mini_form .qual_holder {
	color: #7b867d !important;
	background: #fff;
}

/*Dashboard Stats*/
#dash-stats table td {
	color: #c3bf9d;
	font-weight: bold;
}

/*Dashboard Header2*/
#plurk-dashboard h2 {
	color: #7b867d;
	font-family: Denise Sans;
	font-size: 29px;
	border-bottom: 0px solid #83DF45;
}


/*Number of Characters left to use*/
.char_updater {
	color: #c3bf9d;
}
/* Number of characters left 31-0 */
.char_updater.highlight_light {
	color: #c3bf9d;
	font-style: italic;
	background: transparent !important;
}
/* End Number of characters left 31-0 */

/* Too many characters in input form */
.char_highlight {
	background: transparent !important;
	border-radius: 2px;
	padding-left: 2px;
	color: #ff0000 !important;
}
/* End Too many characters in input form */

/*Private Plurks Languages etc etc*/
#more_options .on, #more_options #more_options_holder {
	border:0;
	background: transparent;
	color: #fcffe8;
}
#more_options_link{
	background: transparent url(/static/timeline/private-lock.png) no-repeat 4px 3px;
	border: 0;
	color: #e1c576 !important;
	outline: none;
	position: relative;
}
#more_options .on{
	border: 0;
	background: transparent url(/static/timeline/private-lock.png) no-repeat 4px 3px;
	color: #000;
}
/*------------------------ PART 3 OF EDITING PLURK LAYOUT -------------------------*/
/*---------------------------- ALL LINKS AND FORMATTING OF LINKS ------------------*/


/*URL in Plurks. Colour, Visited etc*/
.plurk a.ex_link {
	color: #ffbe70;
	font-weight: bold;
	text-decoration: normal;
}

.plurk a.ex_link:hover {
	color: #ffbe70;
	font-weight: bold;
	border-bottom: 0px solid #acacac;
	text-decoration: normal;
}

.plurk a.ex_link:visited {

}

a:link { 
	color: #7b867d;
	text-transform: normal;
}

a:visited, a:active { 
	color: #7b867d;
	text-transform: normal;
}

a:hover { 
	border: 0;
	color: #7b867d;
	text-transform: normal;
}

#top_bar #edit_link:hover, #reply h2 {
	color: #fff;
	font-weight: bold;
}

#reply  #reply_box {
	background: #fff;
}

#reply h2 {
	background: #e2b223;
}

#reply #reply_box_holder {
	background: #fff;
}

/*Edit Area*/

#top_login a:hover {
	color: #fff;
	text-transform: normal;
}
#top_bar .content  a:hover {
	color: #c3bf9d;
	text-transform: normal;
}
#top_bar .content  a#edit_link {
	background: transparent;
	padding-bottom:1px;
	color: #e1c576;
	text-transform: normal;
} 
#top_bar .content  a:hover#edit_link {
	color: #e1c576;
	text-transform: normal;
}

#top_login {
	margin-bottom: -1px;
}

/* Top Login */
#top_login a {
	border: 0;
	font-weight: bold;
	text-decoration: normal;
	color: #7b867d;
}

#top_login a:hover {
	border: 0;
	text-decoration: normal;
	color: #c3bf9d;
}
/* Footer Links */
#footer {
	color: #c3bf9d;
}
#footer a {
	color: #c3bf9d;
	border-bottom: 1px solid #c3bf9d;
	font-weight: bold;
}

#footer a:hover {
	color: #7b867d;
	border: 0;
	text-decoration: underline;
	font-weight: bold;
}

/* Top Bar */
#top_bar a {
	color: #7b867d;
	font-weight: regular;
	text-transform: normal;
	border: 0;
}

#top_bar a:hover {
    color: #e2b223;
	background: transparent;
	font-weight: regular;
	text-transform: normal;
	border: 0;
}

#alert_beacon {
	color: #fff;
}

/*------------------------- PART 4 OF EDITING PLURK LAYOUT ------------------------*/
/*----------------- TIMELINE EXTRAS - PLURKS AND OPTIONS - PLURK TABS ---------------*/

/* Updater Responses and new Plurks */
#updater {
	padding: 2px;
	text-transform: none;
	border: 0;
	color: #ea5b20;
	background: #171c20;
}

#updater .text {
	border: 0;
	color: #ffbe70;
	font-size: 11px;
}

#updater a {
	color: #c3bf9d;
	text-transform: none;
}

#updater a:hover {
	color: #e1c576;
	text-transform: none;
}


/* Plurk: View before opening any Plurk */
.plurk_cnt {
	background: #fff repeat scroll top left !important;
	color: #000 !important;
	font-size: 11px;
	border-right: 2px solid #f1f1f1;
	border-bottom: 2px solid #f1f1f1;
	line-height: 13px;
}

/* Time above Plurk Timeline */


/* Search Form in Plurk Timeline */
#mini_search .i_text { 
	background: #fff;
	border: 0;
	color: #e2b223;
	width: 160px;
	padding: 2px;
}

#mini_search .i_button { 
	background: #fff;
	border: 0;
	color: #e2b223;
	padding: 2px;
}

/* CSS code ... in between Plurk and number of Plurk responses - all in timeline */
.dots .inner { 
	background: #fff;
	margin-left: 2px; 
	color: #000 !important;
}

/* Youtube, Images etc hover in Plurks */
.youtube img, .pictureservices img {
	border: none;
	opacity: .9;
	filter: alpha(opacity=90);
}
.youtube:hover img, .pictureservices:hover img {
	border: none;
	opacity: 1;
	filter: alpha(opacity=100);
}

/* Plurk: Background where responses are */
.plurk_box .list { 
	background: #fff repeat scroll top left;
	border-color: #e0e0e0;
	border-radius: 8px;
	border-width: 0px;
	color: #000 !important;
}

/* Delete Save Edit Mute Unmute Close */
.manager .action { color: #000; margin-left: 5px; }
.manager a:hover { text-decoration: none !important; }
.manager .cancel { color: #ff0000; margin-right: 5px; }
.manager .delete { color: #ffbe70; margin-right: 5px; }
.unmute { color: #7b867d !important; }
.mute { color: #7b867d !important;}


/* Border around Plurk Picture in Timeline */
.p_img {
	border: 1px solid #fff;
}

/* Plurking Textarea*/
#input_small { 
	height: 40px;
	color: #e2b223 !important;
	border: 1px solid #fff;
	background: #fff !important; 
}
/*Plurk: Textarea to responde to a Plurk */
#input_small {
	background: #fff !important;
	border: 1px solid #888; 
	color: #000 !important;
}

/* Plurk: Response List Rounded Corners */
.list {
	-moz-border-radius: 0px 0px 6px 6px;
	-khtml-border-radius: 0px 0px 6px 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
}

/* Plurk: "Recent Plurk Responses" area */
.plurk_box .caption {
	border: 0;
	font-size: 11px;
	color: #c3bf9d;
	background: #252c34;	
}

/* Plurk: "Plurk Page" area */
.info_box {
	color: #000 !important;
	background: #fff;		
	border: 0;
	font-size: 11px;
}

/* Plurk: Color of Text on Empty Message List */
.list .empty {
	color: #000;
}

/* Plurk: Response Caption Bars */
.plurk_box {
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
}

/* Plurk: Mini Form Text */
.plurk_box .highlight_light {
	color: #ff0000 !important;
}

/* Plurk: Drop Arrow on Message Box Qualifiers */
.dd_img img[src="http://statics.plurk.com/123918e3c72ef7b92780fffc44085dfb.gif"] {
	background-position: left top;
	background-repeat: no-repeat;
	overflow: hidden;
	height: 0px;
	width: 0px;
}

.dd_img img[src="http://statics.plurk.com/123918e3c72ef7b92780fffc44085dfb.gif"] {
	height: 12px;
	padding-left: 14px;
	background: url(http://statics.plurk.com/123918e3c72ef7b92780fffc44085dfb.gif) no-repeat scroll left top;
	margin-left: 1px;
}
/* Drop Arrow on Message Box Qualifiers */

/* Plurk: Plurk Text when Plurk opened */
.plurk_box .plurk_cnt {
	background: #fff !important;
	border-bottom: 1px solid #f7f7f7;
	color: #000 !important;
	border-top: 0px solid #e0e0e0;
	padding-top: 3px;
	padding-bottom: 3px;
}

/* Plurk: Responding area */
.plurk_box .mini_form {
	background: #fff;
	color: #000 !important;
	border-right: 1px solid #fff;
	border-left: 0;
	border-bottom: 0;
	border-top: 0;
}

/* Plurk: Mini Form Character Colour */
.mini_form .char_updater {
	color: #000 !important;
	background: #fff;
}

/*Number of Responses on Plurks in Timeline*/
.response_count {
	background: transparent;
	color: #fff !important;
	padding-left: 4px;
	padding-right: 6px;
	padding-top: 1px;
	padding-bottom: 4px;
}

/*New responses on Plurks*/
.new .response_count {
	background: #7b867d;
	border: 1px solid #7b867d;
	color: #fff !important;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 1px;
	padding-bottom: 3px;
}

/*--------------------------- PART 5 OF EDITING PLURK LAYOUT ----------------------*/
/*---------- MENU INFO - MEMBER INFO - QUALIFIERS AND BOLD ETC FORMATTING ---------*/


/* Bold Italic and Underline */

strong {
    color: #c3bf9d;
	cursor: default;
}

strong:hover { 
    color: #c3bf9d;
	cursor: default;
}
	
i {
    color: #c3bf9d;
	cursor: default;
}

i:hover { 
	color: #c3bf9d;
	cursor: default; 
}

u {
	color: #c3bf9d;
	cursor: default;
	border-bottom: 0px solid #fff;
}

u:hover { 
	color: #c3bf9d;
	cursor: default;
	border-bottom: 0px solid #fff;
}

/* Firefox Selection */
::-moz-selection{
	background: #3c3a38;
	color: #fff;
}

/*Selection on browsers*/
::selection {
	background: #3c3a38;
	color: #fff;
}

/* Tool Tip */
.tooltip_cnt{
	background: #171c20;
	border: 0px solid #000;
	color: #c3bf9d;
	padding: 5px;
	margin-top: 1px;
	font-size: 11px;
}

.AmiTT_main b {
	color: #7b867d;
	font-weight: bold;
}

.AmiTT_main {
	color: #fff;
	line-height: 1.2;
	border-top: 1px solid #7b867d;
	position: absolute;
	text-align: left;
	width: 209px;
	z-index: 2000;
}

/* Drop Arrow on User Menu */
.cmp_tooltips-down {
	height: 17px;
	background: transparent url(http://s.plurklayouts.com/images/layouts/black_down.png) no-repeat scroll left top;
}
/* End Drop Arrow on User Menu */

.cmp_tooltips-up {
	height: 17px;
	background: transparent url(http://s.plurklayouts.com/images/layouts/black_up.png) no-repeat scroll left top;
}
/* Up Arrow on User Menu */

/* Color Box on User Menu */
.AmiMenu.info_menu {
	background: #070e01;
	border:1px solid  #070e01;
	color: #e2b223;
}
.AmiMenu.info_menu .block {
	background:#252c34;
}
.AmiMenu.info_menu td.on, .AmiMenu.info_menu .user_info.on {
	background: #7b867d;
}

.AmiMenu.info_menu .separator {
	background: #181818;
}
.AmiMenu.info_menu .user_info.on b {
	color: #fff;
	font-weight: bold;
}
/* END Color Box on User Menu */

/* Loves Likes Shares Gives Hates Wants etc */
.q_freestyle { 
	background: #7b867d;
	border: 1px solid #7b867d;
	color: #fff !important;
}

.q_loves { 
	border-top: 1px solid #bf1717; 
	border-left: 1px solid #bf1717; 
	border-right: 1px solid #8f0808;
	border-bottom: 1px solid #8f0808;
	color: #fff;
	background: #b20c0c;
}

.q_likes { 
	border-top: 1px solid #bf2f32; 
	border-left: 1px solid #bf2f32; 
	border-right: 1px solid #af0a0D; 
	border-bottom: 1px solid #af0a0D;
	color: #fff;
	background: #bc2728;
}

.q_shares { 
	border-top: 1px solid #bf5f5f; 
	border-left: 1px solid #bf5b5f; 
	border-right: 1px solid #9f3b3b; 
	border-bottom: 1px solid #9f3b3b;
	color: #fff;
	background: #A74949;
}

.q_gives { 
	border-top: 1px solid #5f0c0c; 
	border-left: 1px solid #5f0c0c; 
	border-right: 1px solid #3f0000; 
	border-bottom: 1px solid #3f0000;
	color: #fff;
	background: #620e0e;
}

.q_hates { 
	border-top: 1px solid #3f3f3f; 
	border-left: 1px solid #3f3f3f; 
	border-right: 1px solid #000; 
	border-bottom: 1px solid #000;
	color: #fff;
	background: #111;
}

.q_wants { 
	border-top: 1px solid #a1bf5f; 
	border-left: 1px solid #A1bf5f; 
	border-right: 1px solid #809f3b; 
	border-bottom: 1px solid #809f3b;
	color: #fff;
	background: #8db241;
}

.q_wishes{ 
	border-top: 1px solid #67af2b; 
	border-left: 1px solid #67af2b; 
	border-right: 1px solid #4a8F11; 
	border-bottom: 1px solid #4a8F11;
	color: #fff;
	background: #5bb017;
}

.q_needs { 
	border-top: 1px solid #A1bf5f; 
	border-left: 1px solid #A1bf5f; 
	border-right: 1px solid #839f45; 
	border-bottom: 1px solid #839f45;
	color: #fff;
	background: #7a9a37;
}

.q_will { 
	border-top: 1px solid #bf839c; 
	border-left: 1px solid #bf839c; 
	border-right: 1px solid #9f5976; 
	border-bottom: 1px solid #9f5976;
	color: #fff;
	background: #b46d89;
}

.q_hopes { 
	border-top: 1px solid #f67fff; 
	border-left: 1px solid #f67fff; 
	border-right: 1px solid #c540cf; 
	border-bottom: 1px solid #c540cf; 
	color: #fff;
	background: #e05be9;
}

.q_asks { 
	border-top: 1px solid #aa8bdf; 
	border-left: 1px solid #aa8bdf; 
	border-right: 1px solid #825fbf; 
	border-bottom: 1px solid #825fbf;
	color: #fff;
	background: #8361bc;
}

.q_has { 
	border-top: 1px solid #8f8f8f; 
	border-left: 1px solid #8f8f8f; 
	border-right: 1px solid #4f4f4f; 
	border-bottom: 1px solid #4f4f4f;
	color: #fff;
	background: #777;
}

.q_was { 
	border-top: 1px solid #7f7f7f; 
	border-left: 1px solid #7f7f7f; 
	border-right: 1px solid #3f3f3f; 
	border-bottom: 1px solid #3f3f3f;
	color: #fff;
	background: #525252;
}

.q_wonders { 
	border-top: 1px solid #5373bf; 
	border-left: 1px solid #5373bf; 
	border-right: 1px solid #31519f; 
	border-bottom: 1px solid #31519f;
	color: #fff;
	background: #2e4e9e;
}

.q_feels { 
	border-top: 1px solid #53a7df; 
	border-left: 1px solid #53a7df; 
	border-right: 1px solid #2380bf; 
	border-bottom: 1px solid #2380bf;
	color: #fff;
	background: #2d83be;
}

.q_thinks { 
	border-top: 1px solid #99c3df; 
	border-left: 1px solid #99c3df; 
	border-right: 1px solid #5f98bf; 
	border-bottom: 1px solid #5f98bf; 
	color: #fff;
	background: #689cc1;
}

.q_says { 
	background: #7b867d;
	border: 1px solid #7b867d;
	color: #fff !important;
}

.q_is { 
	border-top: 1px solid #df8453; 
	border-left: 1px solid #df8453; 
	border-right: 1px solid #cf6a33; 
	border-bottom: 1px solid #cf6a33;
	color: #fff;
	background: #e57c43;
}

.qual_menu .q_shares {
	color: #fff !important; 
	border-top: 1px solid #3f2f2b !important; 
	border-left: 1px solid #3f2f2b; 
	border-right: 1px solid #0f0b09; 
	border-bottom: 1px solid #0f0b09 !important;
}

.share_menu {
	border-top: 1px solid #3f2f2b !important;
	border-left: 1px solid #3f2f2b !important; 
	border-right: 1px solid #0f0b09 !important;
	border-bottom: 1px solid #0f0b09 !important;
	color: #fff !important; 
	font-size: 16px;
}

.mini_menu .share_menu {
	border-top: 1px solid #3f2f2b;
	border-left: 1px solid #3f2f2b;
	border-right: 1px solid #0f0b09;
	border-bottom: 1px solid #0f0b09;
	color: #fff !important;
	font-size:12px;
}

.share_menu .on {
	border-top: 1px solid #3f2f2b;
	border-left: 1px solid #3f2F2b;
	border-right: 1px solid #0f0b09;
	border-bottom: 1px solid #0f0b09;
	background-color:#8d0000;
	color: #fff !important;
}

.q_video,.q_link {
	border-left: 1px solid #fff !important;
}